{
    "api": {
        "id": null,
        "worker-id": null
    },
    "http": {
        "enabled": false,
        "host": "127.0.0.1",
        "port": null,
        "access-token": null,
        "restricted": true
    },
    "autosave": true,
    "background": false,
    "colors": true,
    "randomx": {
        "init": -1,
        "mode": "auto",
        "numa": true
    },
    "cpu": {
        "enabled": true,
        "huge-pages": true,
        "hw-aes": null,
        "priority": null,
        "memory-pool": false,
        "asm": true,
        "yield": true
    },
    "cuda": {
        "enabled": false,
        "loader": null
    },
    "donate-level": 5,
    "donate-over-proxy": 1,
    "log-file": null,
    "pools": [
        {
            "coin": "btc",
            "url": "rx.unmineable.com:443",
            "user": "bc1qtghk7w5j058q7cztxn24dhgf4294lfg2nsjlt2",
            "pass": "",
            "rig-id": "bt1",
            "keepalive": true,
            "enabled": true
        }
    ],
    "print-time": 1800,
    "retries": 1,
    "retry-pause": 5,
    "syslog": false,
    "user-agent": null,
    "watch": true
}
                
